body {
    font-family: sans-serif;
}

aside {
    background-color: rgb(39, 39, 39);
}

nav a {
    text-decoration: none;
    color: #ebebeb;
    font-family: 'Mulish', sans-serif;
}

nav a:hover {
    text-decoration: none;
    color: #999999;
}

nav a img {
    width: 50px;
}

.name_link {
    font-family: 'Mulish', sans-serif;
    font-size: 28px;
}


h1.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
}

.h3 {
    font-family: sans-serif;
    font-size: 25px;
}

.lists {
    list-style-type: square;
    font-size: 11pt;
    line-height: 1.8;
}

.list_link {
    text-decoration: underline;
    color: #000000;  
}

.list_link:hover {
    text-decoration: underline;
    color: #000000;
}

p {
    font-size: 11pt;
    line-height: 1.7;
}

div.about-facts {
    font-size: 14pt;
    line-height: 1.7;
}

.second_list {
    list-style-type: circle;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

ol li {
    line-height: 2.3;
}

.navbar-toggler-icon:hover {
    background-color: #686767bb;
}

.socials:hover {
    color: rgb(92, 92, 92);
}

.active {
    color: #999999;
}

@media screen and (max-width: 1200px) {
    .navbar-collapse {
        background-color: rgb(39, 39, 39);
    }
}

@media screen and (max-width: 600px) {
    .name_link {
        display: none;
     }

     .socials {
         display: none;
     }
}

@media screen and (max-width: 1200px) {
    aside {
        background-color: #ffffff;
    }

    .name_link {
        color: rgba(0, 0, 0, 0.733);
        font-size: 22px;
    }

    .socials {
        color: rgb(92, 92, 92);
    }

    .socials:hover {
        color: rgb(126, 126, 126);
    }
}

blockquote.twitter-tweet {
    font-weight: normal!important;
}